.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard {
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #36454f;
    padding: 0 1rem 0;
    border-radius: 10px;
}

i {
    flex-grow: 1;
    flex-basis: 0;
}

.tools .tools-diary {
    display: flex;
    justify-content: flex-end;
}

.calories-remaining {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fffffa;
    background-color: #36454f;
    margin-top: 1rem;
    border-radius: 10px;
}

.calories-remaining-expression {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem;
    max-width: 40rem;
    width: 80%;
    flex-basis: 0;
    flex-grow: 1;
    align-items: baseline;
}

.calories-remaining-expression-center {
    flex-basis: auto;
    flex-grow: 0;
}

/* .calories-remaining-expression p {
    margin: 0 2rem 0;
} */

.calories-remaining-expression-term {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin: 0rem;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}